<h1>{{moulding.name}}</h1>
<p><strong>Material:</strong> {{moulding.material}}</p>
<p><strong>Price:</strong> ${{moulding.price}}</p>
<p><strong>Description: </strong> {{moulding.description}}</p>

<a href="/list">Back to List</a>