<h1>{{painting.title}}</h1>
<p><strong>Artist:</strong> {{painting.artist}}</p>
<p><strong>Price:</strong> ${{painting.price}}</p>
<p><strong>Description: </strong> {{painting.description}}</p>
<a href="/list">Back to List</a>